<mat-table [dataSource]="transitionHistories$" matSortActive="executionDateTime" matSortDirection="desc" matSort fxFlexFill>
    <ng-container matColumnDef="transition">
        <mat-header-cell *matHeaderCellDef>{{ "CMMN.INSTANCE.TRANSITION" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let history">
            {{ history.transition }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="executionDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.EXECUTION_DATETIME" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let history">
            {{ history.executionDateTime | date:'medium' }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.MESSAGE" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let history">
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <textarea matInput maxlength="400">{{ history.message }}</textarea>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
