<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/casedefinitions']">{{ "CASE_DEFINITIONS" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li><div class="mat-h1">{{ caseDefinition.Name }}</div></li>
        </ul>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="20%">
        <div *ngIf="isErrorLoadOccured" class="error">
            <p>{{ "ERROR_LOAD_CASE_DEFINITION" | translate }}</p>
        </div>
        <div *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <mat-list *ngIf="!isErrorLoadOccured && !isLoading">
            <mat-list-item>
                <h4 mat-line>{{ "NAME" | translate}}</h4>
                <p mat-line>{{ caseDefinition.Name }}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "CREATE_DATEITME" | translate}}</h4>
                <p mat-line>{{ caseDefinition.CreateDateTime | date:'medium' }}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "NB_INSTANCES" | translate}}</h4>
                <p mat-line>{{ caseDefinitionHistory.NbInstances }}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "CASE_DEFINITION_FILE" | translate}}</h4>
                <p mat-line><a href="#">{{ caseDefinition.CaseFile }}</a></p>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="80%">
        <div fxLayout="column">
            <div>
                <div class="modeler">
                    <div id="canvas" style="height: 300px;"></div>
                </div>
            </div>
            <div>                
                <mat-card>
                    <mat-card-content>
                        <button mat-raised-button color="primary" (click)="launchCaseInstance()">{{ "LAUNCH_INSTANCE" | translate }}</button>
                        <mat-tab-group>
                            <mat-tab label="{{'CASE_INSTANCES' | translate}}">
                                <div class="mat-elevation-z8 overflow-hidden">
                                    <table mat-table class="full-width" [dataSource]="caseInstances" matSort #caseInstancesSort="matSort">
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ID" | translate }}</th>
                                            <td mat-cell *matCellDef="let case">
                                                <a class="no-style" [routerLink]="['/casedefinitions/' + case.Id]">{{case.Id}}</a>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="state">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATE" | translate }}</th>
                                            <td mat-cell *matCellDef="let case">
                                                <mat-chip-list>
                                                    <mat-chip>{{ case.State }}</mat-chip>
                                                </mat-chip-list>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="create_datetime">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                            <td mat-cell *matCellDef="let case">{{case.CreateDateTime | date:'medium'}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let caseInstance">
                                                <button mat-icon-button (click)="reactivateCaseInstance(caseInstance)" *ngIf="caseInstance.State == 'Failed' || caseInstance.State == 'Terminated' || caseInstance.State == 'Completed'">
                                                    <mat-icon>cached</mat-icon>
                                                </button>
                                                <button mat-icon-button (click)="suspendCaseInstance(caseInstance)" *ngIf="caseInstance.State == 'Active'">
                                                    <mat-icon>stop</mat-icon>
                                                </button>
                                                <button mat-icon-button (click)="resumeCaseInstance(caseInstance)" *ngIf="caseInstance.State == 'Suspended'">
                                                    <mat-icon>play_arrow</mat-icon>
                                                </button>
                                                <button mat-icon-button (click)="closeCaseInstance(caseInstance)" *ngIf="caseInstance.State == 'Failed' || caseInstance.State == 'Terminated' || caseInstance.State == 'Completed'">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <div *ngIf="isCaseInstancesErrorLoadOccured" class="error">
                                        <p>{{ "ERROR_LOAD_CASE_INSTANCES" | translate }}</p>
                                    </div>
                                    <mat-paginator #caseInstancesPaginator [length]="caseInstancesLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </mat-tab>
                            <mat-tab label="{{ 'CASE_FORM_INSTANCES' | translate}}">
                                <div class="mat-elevation-z8 overflow-hidden">
                                    <table mat-table class="full-width" [dataSource]="caseFormInstances" matSort #formInstancesSort="matSort">
                                        <ng-container matColumnDef="form_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FORM_ID" | translate }}</th>
                                            <td mat-cell *matCellDef="let formInstance">{{ formInstance.FormId }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="case_instance_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CASE_INSTANCE_ID" | translate }}</th>
                                            <td mat-cell *matCellDef="let formInstance">{{ formInstance.CaseInstanceId }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="performer">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PERFORMER" | translate }}</th>
                                            <td mat-cell *matCellDef="let formInstance">{{ formInstance.Performer }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="update_datetime">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "UPDATE_DATETIME" | translate }}</th>
                                            <td mat-cell *matCellDef="let formInstance">{{ formInstance.UpdateDateTime | date:'medium' }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="create_datetime">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                            <td mat-cell *matCellDef="let formInstance">{{ formInstance.CreateDateTime | date:'medium'}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="formInstanceDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: formInstanceDisplayedColumns;"></tr>
                                    </table>
                                    <div *ngIf="isCaseFormInstancesErrorLoadOccured" class="error">
                                        <p>{{ "ERROR_LOAD_FORM_INSTANCES" | translate }}</p>
                                    </div>
                                    <mat-paginator #formInstancesPaginator [length]="formInstancesLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </mat-tab>
                            <mat-tab label="{{ 'CASE_ACTIVATIONS' | translate}}">
                                <div class="mat-elevation-z8 overflow-hidden">
                                    <table mat-table class="full-width" [dataSource]="caseActivations" matSort #caseActivationsSort="matSort">
                                        <ng-container matColumnDef="case_instance_name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ELEMENT_NAME" | translate }}</th>
                                            <td mat-cell *matCellDef="let caseActivation">{{ caseActivation.CaseInstanceName }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="case_instance_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CASE_INSTANCE_ID" | translate }}</th>
                                            <td mat-cell *matCellDef="let caseActivation">{{ caseActivation.CaseInstanceId }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="performer">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PERFORMER" | translate }}</th>
                                            <td mat-cell *matCellDef="let caseActivation">{{ caseActivation.Performer }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="create_datetime">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                            <td mat-cell *matCellDef="let caseActivation">{{ caseActivation.CreateDateTime | date:'medium'}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="caseActivationDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: caseActivationDisplayedColumns;"></tr>
                                    </table>
                                    <div *ngIf="isCaseActivationsErrorLoadOccured" class="error">
                                        <p>{{ "ERROR_LOAD_CASE_ACTIVATIONS" | translate }}</p>
                                    </div>
                                    <mat-paginator #caseActivationsPaginator [length]="caseActivationsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>