<!-- Name -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.NAME" | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="task.presentationName" disabled />
</mat-form-field>
<!-- Subject -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.SUBJECT" | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="task.presentationSubject" disabled />
</mat-form-field>
<!-- Priority -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.PRIORITY" | translate }}</mat-label>
    <input matInput type="number" [(ngModel)]="task.priority" disabled />
</mat-form-field>
<div *ngIf="task.status === 'INPROGRESS'">
    <form (ngSubmit)="onSubmit()">
        <dynamic-component [option]="option"></dynamic-component>
        <button mat-raised-button color="primary">{{ 'SHARED.SUBMIT' | translate }}</button>
    </form>
</div>