<!-- Name -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.NAME" | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="task.presentationName" disabled />
</mat-form-field>
<!-- Subject -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.SUBJECT" | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="task.presentationSubject" disabled />
</mat-form-field>
<!-- Priority -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "SHARED.PRIORITY" | translate }}</mat-label>
    <input matInput type="number" [(ngModel)]="task.priority" disabled />
</mat-form-field>
<div *ngIf="task.status === 'INPROGRESS'">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm.value)">
        <div *ngFor="let field of renderingElts">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ field.labels | translateField }}</mat-label>
                <input *ngIf="field.valueType === 'string'" matInput type="text" formControlName="{{field.id}}" name="{{field.id}}" />
                <mat-select *ngIf="field.valueType=== 'select'" formControlName="{{field.id}}">
                    <mat-option *ngFor="let opt of field.value.values" [value]="opt.value">
                        {{ field.displayNames | translateField }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">{{ 'SHARED.SUBMIT' | translate }}</button>
    </form>
</div>