<form [formGroup]="saveForm" (ngSubmit)="onSave(saveForm.value)" class="mt-10">
    <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'BPMN.INFORMATION.ID' | translate }}" name="id" formControlName="id" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'BPMN.INFORMATION.CREATE_DATETIME' | translate }}" name="createDateTime" formControlName="createDateTime" readonly />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'BPMN.INFORMATION.UPDATE_DATETIME' | translate }}" name="updateDateTime" formControlName="updateDateTime" readonly />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'BPMN.INFORMATION.ENTER_FILE_NAME' | translate }}" name="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="{{ 'BPMN.INFORMATION.ENTER_DESCRIPTION' | translate }}" name="description" formControlName="description"></textarea>
    </mat-form-field>
    <div *ngIf="bpmnFile.status === 'Edited'">
        <button mat-raised-button color="primary">{{ 'SHARED.SAVE' | translate }}</button>
    </div>
</form>