<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "CASE_DEFINITIONS" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80%" fxFlexOffset="10%">
        <mat-card>
            <mat-card-content>
                <div class="mat-elevation-z8 overflow-hidden">
                    <table mat-table class="full-width" [dataSource]="caseDefinitions" matSort>
                        <ng-container matColumnDef="Id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CASE_IDENTIFIER" | translate }}</th>
                            <td mat-cell *matCellDef="let case"> {{case.Id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CASE_NAME" | translate }}</th>
                            <td mat-cell *matCellDef="let case"> {{case.Name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="CreateDateTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CASE_CREATE_DATETIME" | translate }}</th>
                            <td mat-cell *matCellDef="let case"> {{case.CreateDateTime}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef>{{ "CASE_ACTIONS" | translate }}</th>
                            <td mat-cell *matCellDef="let case">
                                <button mat-icon-button [routerLink]="['/casedefinitions/' + case.Id ]">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="isLoading" class="center-spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="isErrorLoadOccured" class="error">
                        <p>{{ "ERROR_LOAD_CASE_DEFINITIONS" | translate }}</p>
                    </div>
                    <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>