<div class="mleft-10 mright-10">
    <button mat-raised-button (click)="update()" color="primary">{{ "SHARED.UPDATE" | translate }}</button>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="20%">
            <mat-list>
                <mat-list-item *ngFor="let fieldType of fieldTypes">
                    <button (click)="addField(fieldType)" mat-icon-button><mat-icon>add</mat-icon></button> {{ fieldType.displayName | translate }}
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="50%">
            <div cdkDropList
                 (cdkDropListDropped)="drop($event)"
                 class="lst-fields full-width">
                <div class="field-container full-width" *ngFor="let field of renderingElements" cdkDrag>
                    <div style="position: relative">
                        <div style="position: absolute; top: 0px; right: 0px; z-index:10;">
                            <button mat-icon-button (click)="displaySettings(field)">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <button mat-icon-button (click)="removeField(field)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                        <mat-form-field class="full-width">
                            <mat-label>{{ field.labels | translateField }}</mat-label>
                            <input *ngIf="field.valueType === 'string'" matInput type="text" name="{{field.id}}" disabled />
                            <mat-select *ngIf="field.valueType === 'select'">
                                <mat-option *ngFor="let opt of field.values" [value]="opt.value">
                                    {{ opt.displayNames | translateField }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="30%">
            <div *ngIf="selectedField">
                <mat-accordion>
                    <!-- Update field properties-->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            {{ "HUMANTASK.UPDATE_GLOBAL_PROPERTIES" | translate }}
                        </mat-expansion-panel-header>
                        <!-- Update field identifier -->
                        <mat-form-field class="full-width">
                            <mat-label>{{ "SHARED.ID" | translate }}</mat-label>
                            <input matInput [(ngModel)]="selectedField.id" />
                        </mat-form-field>
                        <!-- Select the type -->
                        <mat-form-field class="full-width">
                            <mat-label>{{ "HUMANTASK.SELECT_FIELDTYPE" | translate }}</mat-label>
                            <mat-select [(ngModel)]="selectedField.valueType">
                                <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.fieldType">
                                    {{ fieldType.displayName | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- Update values -->
                    <mat-expansion-panel *ngIf="selectedField.valueType == 'select'">
                        <mat-expansion-panel-header>
                            {{ "HUMANTASK.UPDATE_VALUES" | translate }}
                        </mat-expansion-panel-header>
                        <form [formGroup]="addValueForm" (ngSubmit)="addValue(addValueForm.value)">
                            <mat-form-field class="full-width">
                                <mat-label>{{ "SHARED.VALUE" | translate }}</mat-label>
                                <input matInput formControlName="value" name="value" />
                                <mat-error *ngIf="addValueForm.get('value').hasError('required')">
                                    {{ 'SHARED.IS_REQUIRED' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>{{ "SHARED.SELECT_LANGUAGE" | translate }}</mat-label>
                                <mat-select formControlName="language">
                                    <mat-option *ngFor="let language of languages" [value]="language.code">{{ language.display }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="addValueForm.get('language').hasError('required')">
                                    {{ 'SHARED.IS_REQUIRED' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>{{ "SHARED.TRANSLATION" | translate }}</mat-label>
                                <input matInput formControlName="translation" name="translation" />
                            </mat-form-field>
                            <button mat-raised-button color="primary">{{ "SHARED.ADD" | translate }}</button>
                        </form>
                        <mat-list>
                            <mat-list-item *ngFor="let value of selectedField.values">
                                <button (click)="deleteValue(value)" mat-icon-button><mat-icon>delete</mat-icon></button> {{ joinDisplayNames(value) }}
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <!-- Update labels -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{ "HUMANTASK.UPDATE_LABELS" | translate }}
                        </mat-expansion-panel-header>
                        <form [formGroup]="addLabelForm" (ngSubmit)="updateLabel(addLabelForm.value)">
                            <mat-form-field class="full-width">
                                <mat-label>{{ "SHARED.SELECT_LANGUAGE" | translate }}</mat-label>
                                <mat-select formControlName="language" required>
                                    <mat-option *ngFor="let language of languages" [value]="language.code">{{ language.display }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="addLabelForm.get('language').hasError('required')">
                                    {{ 'SHARED.IS_REQUIRED' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>{{ "SHARED.TRANSLATION" | translate }}</mat-label>
                                <input matInput formControlName="value" name="value" required />
                                <mat-error *ngIf="addLabelForm.get('value').hasError('required')">
                                    {{ 'SHARED.IS_REQUIRED' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="primary">{{ "SHARED.ADD" | translate }}</button>
                        </form>
                        <mat-list>
                            <mat-list-item *ngFor="let label of selectedField.labels">
                                <button (click)="deleteLabel(label)" mat-icon-button><mat-icon>delete</mat-icon></button> {{ label.value }} ({{ label.language }})
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>