/* UI Editor */
.row, .column {
    padding: 10px;
}

.column {
    min-height: 75px;
}

.component {
    outline: 1px dashed rgba(170,170,170,0.7);
    position: relative;
}

.component > .toolbar {
    position: absolute;
    display: none;
    top: -27px;
    right: 0px;
    color: white;
}

.component > .title {
    position: absolute;
    top: -20px;
    left: 0px;
    color: white;
    display: none;
    padding: 0px 5px 0px 5px;
}

.component.selected > .toolbar, .component.selected > .title {
    display: block;
}

ul.toolbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.toolbar li {
    margin: 5px 5px 0px 5px;
    display: inline-block;
    cursor: pointer;
}

.ui-editor {
    min-height: 300px;
    position: relative;
}

.ui-editor .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.fields {
    padding-top: 0px;
}

.fields .icon {
    width: 30px;
    height: 30px;
}

.fields .label {
    margin-left: 30px;
}

.fields .mat-list-item {
    height: 30px;
}

.fields .mat-list-item-content {
    padding: 0; 
}