<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="20%">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    {{ 'HUMANTASK.EDITOR.FIELDS' | translate }}
                </mat-expansion-panel-header>
                <mat-list class="fields">
                    <mat-list-item draggable="true" (dragstart)="dragTxt($event)">
                        <svg class="icon" viewBox="0 0 16 16">
                            <path fill="#444444" d="M16 5c0-0.6-0.4-1-1-1h-14c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1h14c0.6 0 1-0.4 1-1v-6zM15 11h-14v-6h14v6z"></path>
                            <path fill="#444444" d="M2 6h1v4h-1v-4z"></path>
                        </svg>
                        <span class="label">{{ 'HUMANTASK.EDITOR.TEXTBOX' | translate }}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item draggable="true" (dragstart)="dragSelect($event)">
                        <svg class="icon" viewBox="0 0 16 16">
                            <path d="M16 5c0-0.6-0.4-1-1-1h-14c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1h14c0.6 0 1-0.4 1-1v-6zM15 11h-14v-6h14v6z"
                                  id="path905"
                                  fill="#444444" />
                            <path style="opacity:1;fill:#444444;fill-opacity:1;stroke:#ffffff;stroke-width:0.17552735;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.17552735, 0.17552735;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers"
                                  d="M 9.8680231,5.6833858 V 10.507859 H 14.692496 V 5.6833858 Z m 0.7292049,0.7878018 h 3.216317 V 9.687503 h -3.216317 z"
                                  id="rect1473"
                                  inkscape:connector-curvature="0" />
                            <path style="opacity:1;fill:#444444;fill-opacity:1;stroke:#ffffff;stroke-width:0.08869114;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.08869114, 0.08869114;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers"
                                  d="m 10.892036,7.4021402 1.346692,1.3869661 1.429757,-1.3869661 H 12.832783 L 12.248797,7.9634713 11.697533,7.4021402 Z"
                                  id="path1576"
                                  inkscape:connector-curvature="0" />
                            <path style="opacity:1;fill:#444444;fill-opacity:1;stroke:#ffffff;stroke-width:0.06881704;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.06881704, 0.06881704;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers"
                                  d="m 12.556906,3.1867706 -0.0078,0.00781 0.0078,0.00781 z"
                                  id="path1574"
                                  inkscape:connector-curvature="0" />
                        </svg>
                        <span class="label">{{ 'HUMANTASK.EDITOR.SELECT' | translate }}</span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    {{ 'HUMANTASK.EDITOR.LAYOUT' | translate }}
                </mat-expansion-panel-header>
                <mat-list class="fields">
                    <mat-list-item draggable="true" (dragstart)="dragColumn($event)">
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="m22.5 24h-8c-.827 0-1.5-.673-1.5-1.5v-21c0-.827.673-1.5 1.5-1.5h8c.827 0 1.5.673 1.5 1.5v21c0 .827-.673 1.5-1.5 1.5zm-8-23c-.276 0-.5.224-.5.5v21c0 .276.224.5.5.5h8c.276 0 .5-.224.5-.5v-21c0-.276-.224-.5-.5-.5z" />
                            <path d="m9.5 24h-8c-.827 0-1.5-.673-1.5-1.5v-21c0-.827.673-1.5 1.5-1.5h8c.827 0 1.5.673 1.5 1.5v21c0 .827-.673 1.5-1.5 1.5zm-8-23c-.276 0-.5.224-.5.5v21c0 .276.224.5.5.5h8c.276 0 .5-.224.5-.5v-21c0-.276-.224-.5-.5-.5z" />
                        </svg>
                        <span class="label">{{ 'HUMANTASK.EDITOR.COLUMNS' | translate }}</span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-list>
        </mat-list>
    </div>
    <div fxFlex="80%" #uiContainer class="ui-editor" (drop)="dropColumn($event)" (dragover)="dragOver($event)">
        <!--
        <div fxLayout="row">
            <div fxFlex="50%">
                COUCOU
            </div>
            <div fxFlex="50%">
                COUCOU2
            </div>
        </div>
        -->
        <dynamic-component [option]="option" *ngFor="let option of options"></dynamic-component>
    </div>
</div>