<mat-table class="full-width table-h400" [dataSource]="activityStates$" matSortActive="executionDateTime" matSortDirection="desc" matSort>
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INSTANCE.ACTIVITYSTATE.STATE" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let actState">
            {{ actState.state }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="executionDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INSTANCE.ACTIVITYSTATE.EXECUTIONDATE" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let actState">
            {{ actState.executionDateTime | date:'medium' }}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INSTANCE.ACTIVITYSTATE.MESSAGE" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let actState">
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <textarea matInput maxlength="400">{{ actState.message }}</textarea>
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
</mat-table>