.steps {
    list-style-type: none;
    padding: 0;
}

.steps li {
    display: inline-block;
    margin-left: 3px;
}

.steps li a, .steps li p {
    padding: 8px 20px;
    display: block;
    position: relative;
}

.steps li a:hover, .steps li p:hover {
    text-decoration: none;
}

.steps li a:before, .steps li p:before {
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    margin-top: -18px;
}

.steps li a:after, .steps li p:after {
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    margin-top: -18px;
    z-index: 1;
}