<button mat-raised-button color="primary" (click)="onSave()">{{ 'SHARED.SAVE' | translate }}</button>
<div fxLayout="row">
    <div fxFlex="80%">
        <div id="canvas" style="height: 500px"></div>
    </div>
    <div fxFlex="20%">
        <div *ngIf="selectedElt">
            <form [formGroup]="updatePropertiesForm">
                <mat-accordion>
                    <!-- General information -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{ 'BPMN.PROPERTIES.GENERALINFO' | translate }}
                        </mat-expansion-panel-header>
                        <!-- Id -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.ID' | translate }}</mat-label>
                            <input matInput name="id" formControlName="id" />
                        </mat-form-field>
                        <!-- Name -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.NAME' | translate }}</mat-label>
                            <input matInput name="name" formControlName="name" />
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- Service task information -->
                    <mat-expansion-panel *ngIf="selectedElt.type === 'bpmn:ServiceTask'">
                        <mat-expansion-panel-header>
                            {{ 'BPMN.PROPERTIES.SERVICETASKINFO' | translate }}
                        </mat-expansion-panel-header>
                        <!-- Type -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.IMPLEMENTATION' | translate }}</mat-label>
                            <mat-select formControlName="implementation">
                                <mat-option value="##csharpcallback">{{ 'BPMN.SCHEMA.CSHARPCALLBACK' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Classname -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.CLASS_NAME' | translate }}</mat-label>
                            <input matInput name="className" formControlName="className" />
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- User task information -->
                    <mat-expansion-panel *ngIf="selectedElt.type === 'bpmn:UserTask'">
                        <mat-expansion-panel-header>
                            {{ 'BPMN.PROPERTIES.USERTASKINFO' | translate }}
                        </mat-expansion-panel-header>
                        <!-- WS-HumanTaskDef name -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.WSHUMANTASKNAME' | translate }}</mat-label>
                            <input matInput name="wsHumanTaskDefName" formControlName="wsHumanTaskDefName" />
                        </mat-form-field>
                        <!-- Type -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.IMPLEMENTATION' | translate }}</mat-label>
                            <mat-select formControlName="implementation">
                                <mat-option value="##WsHumanTask">{{ 'BPMN.SCHEMA.WSHUMANTASK' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <form [formGroup]="addParameterForm" (ngSubmit)="addParameter(addParameterForm.value)">
                            <!-- Key -->
                            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                                <mat-label>{{ 'BPMN.SCHEMA.PARAMETERKEY' | translate }}</mat-label>
                                <input matInput name="key" formControlName="key" />
                            </mat-form-field>
                            <!-- Value -->
                            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                                <mat-label>{{ 'BPMN.SCHEMA.PARAMETERVALUE' | translate }}</mat-label>
                                <input matInput name="value" formControlName="value" />
                            </mat-form-field>
                            <button mat-raised-button color="primary">{{ 'SHARED.ADD' | translate }}</button>
                        </form>
                        <mat-list>
                            <mat-list-item *ngFor="let parameter of parameters" matTooltip="{{ parameter.key }} = {{ parameter.value }}">
                                <button mat-icon-button (click)="removeParameter(parameter)"><mat-icon>remove</mat-icon></button>
                                {{ parameter.key }}
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <!-- Exclusive gateway -->
                    <mat-expansion-panel *ngIf="selectedElt.type === 'bpmn:ExclusiveGateway'">
                        <mat-expansion-panel-header>
                            {{ 'BPMN.PROPERTIES.EXCLUSIVEGATEWAYINFO' | translate }}
                        </mat-expansion-panel-header>
                        <!-- Gateway direction -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.GATEWAYDIRECTION' | translate }}</mat-label>
                            <mat-select formControlName="gatewayDirection">
                                <mat-option value="Unspecified">{{ 'BPMN.SCHEMA.UNSPECIFIED' | translate }}</mat-option>
                                <mat-option value="Converging">{{ 'BPMN.SCHEMA.CONVERGING' | translate }}</mat-option>
                                <mat-option value="Diverging">{{ 'BPMN.SCHEMA.DIVERGING' | translate }}</mat-option>
                                <mat-option value="Mixed">{{ 'BPMN.SCHEMA.MIXED' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Default -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.DEFAULT' | translate }}</mat-label>
                            <mat-select formControlName="default">
                                <mat-option [value]="id" *ngFor="let id of outgoingElts">
                                    {{ id }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- Sequence flow -->
                    <mat-expansion-panel *ngIf="selectedElt.type === 'bpmn:SequenceFlow'">
                        <mat-expansion-panel-header>
                            {{ 'BPMN.PROPERTIES.SEQUENCEFLOWINFO' | translate }}
                        </mat-expansion-panel-header>
                        <!-- Condition -->
                        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                            <mat-label>{{ 'BPMN.SCHEMA.CONDITION' | translate }}</mat-label>
                            <input matInput name="sequenceFlowCondition" formControlName="sequenceFlowCondition" />
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
            </form>
        </div>
    </div>
</div>