html, body {
	height: 100%;
}

body, h1 {
	margin: 0;
}

a.no-style {
	text-decoration: none;
	color: inherit;
}

.full-width {
	width: 100%;
}

.mleft-10 {
	margin-left : 10px;
}

.mright-10 {
	margin-right: 10px;
}

.clickable {
	cursor: pointer;	
}

ul.list {
    padding: 0;
    list-style-type: none;
}

ul.list li {
    .actions {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    p.period, p.description, h4, h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

ul.list li {
    margin-top: 5px;
    border-bottom: 1px solid;
    position: relative;
}

ul.list li:hover .actions {
    display: block;
}

.profile {
    .actions {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.profile .avatar-container img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb {
    padding: 20px 0px 20px 0px;
}

.breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb ul .separator {
    padding-right: .75rem;
    padding-left: .75rem;
}

.breadcrumb ul li {
    display: inline-block;
}

.avatar-container img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
