<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ baseTranslationKey + ".TITLE" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80%" fxFlexOffset="10%">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="searchTasksForm" (ngSubmit)="onSearchTasks()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>{{ baseTranslationKey + ".OWNER" | translate }}</mat-label>
                        <input matInput formControlName="actualOwner" />
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>{{ baseTranslationKey + ".STATUS" | translate }}</mat-label>
                        <mat-select formControlName="status" multiple>
                            <mat-option value="CREATED">{{ baseTranslationKey + '.STATUSENUM.CREATED' | translate }}</mat-option>
                            <mat-option value="READY">{{ baseTranslationKey + '.STATUSENUM.READY' | translate }}</mat-option>
                            <mat-option value="RESERVED">{{ baseTranslationKey + '.STATUSENUM.RESERVED' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary">{{ 'SHARED.SEARCH' | translate }}</button>
                </form>
                <table mat-table class="full-width" matSortActive="createdTime" matSortDirection="desc" [dataSource]="tasks$" matSort>
                    <!-- Priority -->
                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ baseTranslationKey + ".PRIORITY" | translate }}</th>
                        <td mat-cell *matCellDef="let task">{{task.priority}}</td>
                    </ng-container>
                    <!-- Presentation name -->
                    <ng-container matColumnDef="presentationName">
                        <th mat-header-cell *matHeaderCellDef>{{ baseTranslationKey + ".NAME" | translate }}</th>
                        <td mat-cell *matCellDef="let task">{{task.presentationName}}</td>
                    </ng-container>
                    <!-- Presentation subject -->
                    <ng-container matColumnDef="presentationSubject">
                        <th mat-header-cell *matHeaderCellDef>{{ baseTranslationKey + ".SUBJECT" | translate }}</th>
                        <td mat-cell *matCellDef="let task">{{task.presentationSubject}}</td>
                    </ng-container>
                    <!-- Owner -->
                    <ng-container matColumnDef="actualOwner">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ baseTranslationKey + ".OWNER" | translate }}
                        </th>
                        <td mat-cell *matCellDef="let task">{{task.actualOwner}}</td>
                    </ng-container>
                    <!-- Status -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>{{ baseTranslationKey + ".STATUS" | translate }}</th>
                        <td mat-cell *matCellDef="let task">
                            <mat-chip-list>
                                <mat-chip>
                                    {{ baseTranslationKey + '.STATUSENUM.' + task.status | translate }}
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>
                    <!-- Created datetime -->
                    <ng-container matColumnDef="createdTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ baseTranslationKey + ".CREATED_DATETIME" | translate }}</th>
                        <td mat-cell *matCellDef="let task">{{task.createdTime | date:'medium'}}</td>
                    </ng-container>
                    <!-- Actions -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let task">
                            <div *ngIf="task.possibleActions.length > 0">
                                <button mat-button [matMenuTriggerFor]="actions">{{ baseTranslationKey + ".ACTIONS" | translate }}</button>
                                <mat-menu #actions="matMenu">
                                    <button (click)="executeAction(act, task)" mat-menu-item *ngFor="let act of task.possibleActions">{{ baseTranslationKey + ".ACTIONSENUM." + act | translate }}</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>