<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/cases/caseplans']">{{ "CASE_PLANS" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li><div class="mat-h1">{{ "CASE_PLAN" | translate }}</div></li>
        </ul>
    </div>
</div>
<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="20%">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h4 mat-line>{{ "NAME" | translate}}</h4>
                        <p mat-line>{{ casePlan$.Name }}</p>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 mat-line>{{ "CREATE_DATETIME" | translate}}</h4>
                        <p mat-line>{{ casePlan$.CreateDateTime | date:'medium' }}</p>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    <mat-list-item>
                        <h4 mat-line>{{ "CASE_FILE" | translate}}</h4>
                        <p mat-line><a [routerLink]="['/cases/casefiles/' + casePlan$.CaseFile]">{{ "VIEW_CASE_FILE" | translate }}</a></p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="80%">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex="80%">
                        <button mat-raised-button color="primary" (click)="launchCaseInstance()">
                            <mat-icon>launch</mat-icon> {{ "LAUNCH_INSTANCE" | translate }}
                        </button>
                        <button mat-raised-button color="primary" class="ml-10" [routerLink]="['/cases/caseplaninstances']" [queryParams]="{casePlanId: casePlan$.Id}">
                            <mat-icon>file_copy</mat-icon> {{ 'VIEW_CASE_PLAN_INSTANCES' | translate}}
                        </button>
                    </div>
                    <div fxFlex="20%">
                        <mat-form-field>
                            <mat-label>{{ "SELECT_REFRESH_TIME_MS" | translate }}</mat-label>
                            <mat-select [(value)]="selectedTimer" (selectionChange)="selectTimer($event)">
                                <mat-option value="100">{{ "100_MS" | translate }}</mat-option>
                                <mat-option value="1000">{{ "1000_MS" | translate }}</mat-option>
                                <mat-option value="2000">{{ "2000_MS" | translate }}</mat-option>
                                <mat-option value="4000">{{ "4000_MS" | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-spinner *ngIf="isLoading" diameter="20" class="loadingSpinner"></mat-spinner>
                    </div>
                </div>
                <mat-tab-group>
                    <mat-tab label="{{'CASE_INSTANCES' | translate}}">
                        <div class="mat-elevation-z8 overflow-hidden">
                            <table mat-table class="full-width" [dataSource]="casePlanInstances$" matSortActive="create_datetime" matSortDirection="desc" matSort #casePlanInstanceSort="matSort">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ID" | translate }}</th>
                                    <td mat-cell *matCellDef="let case">{{case.Id}}</td>
                                </ng-container>
                                <ng-container matColumnDef="state">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATE" | translate }}</th>
                                    <td mat-cell *matCellDef="let case">
                                        <mat-chip-list>
                                            <mat-chip>{{ case.State }}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="create_datetime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                    <td mat-cell *matCellDef="let case">{{case.CreateDateTime | date:'medium'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let caseInstance">
                                        <button mat-icon-button (click)="reactivateCaseInstance(caseInstance)" matTooltip="{{ 'REACTIVATE' | translate }}" *ngIf="caseInstance.State == 'Failed' || caseInstance.State == 'Terminated' || caseInstance.State == 'Completed'">
                                            <mat-icon>cached</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="suspendCaseInstance(caseInstance)" matTooltip="{{ 'STOP' | translate }}" *ngIf="caseInstance.State == 'Active'">
                                            <mat-icon>stop</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="resumeCaseInstance(caseInstance)" matTooltip="{{ 'RESUME' | translate }}" *ngIf="caseInstance.State == 'Suspended'">
                                            <mat-icon>play_arrow</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="closeCaseInstance(caseInstance)" matTooltip="{{ 'CLOSE' | translate }}" *ngIf="caseInstance.State == 'Failed' || caseInstance.State == 'Terminated' || caseInstance.State == 'Completed' || caseInstance.State == 'Suspended' ">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #casePlanInstancePaginator [length]="casePlanInstancesLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ 'CASE_FORM_INSTANCES' | translate}}">
                        <div class="mat-elevation-z8 overflow-hidden">
                            <table mat-table class="full-width" [dataSource]="formInstances$" matSortActive="create_datetime" matSortDirection="desc" matSort #formInstanceSort="matSort">
                                <ng-container matColumnDef="form_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "FORM_ID" | translate }}</th>
                                    <td mat-cell *matCellDef="let formInstance">{{ formInstance.FormId }}</td>
                                </ng-container>
                                <ng-container matColumnDef="performer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PERFORMER" | translate }}</th>
                                    <td mat-cell *matCellDef="let formInstance">{{ formInstance.Performer }}</td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATUS" | translate }}</th>
                                    <td mat-cell *matCellDef="let formInstance">
                                        <mat-chip-list>
                                            <mat-chip>{{ formInstance.Status }}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="update_datetime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "UPDATE_DATETIME" | translate }}</th>
                                    <td mat-cell *matCellDef="let formInstance">{{ formInstance.UpdateDateTime | date:'medium' }}</td>
                                </ng-container>
                                <ng-container matColumnDef="create_datetime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                    <td mat-cell *matCellDef="let formInstance">{{ formInstance.CreateDateTime | date:'medium'}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="formInstanceDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: formInstanceDisplayedColumns;"></tr>
                            </table>
                            <mat-paginator #formInstancePaginator [length]="formInstancesLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{ 'CASE_WORKER_TASKS' | translate}}">
                        <div class="mat-elevation-z8 overflow-hidden">
                            <table mat-table class="full-width" [dataSource]="workerTasks$" matSortActive="create_datetime" matSortDirection="desc" matSort #workerTaskSort="matSort">
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "TYPE" | translate }}</th>
                                    <td mat-cell *matCellDef="let workerTask">{{ workerTask.Type }}</td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATUS" | translate }}</th>
                                    <td mat-cell *matCellDef="let workerTask">
                                        <mat-chip-list>
                                            <mat-chip>{{ workerTask.Status }}</mat-chip>
                                        </mat-chip-list>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="performer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PERFORMER" | translate }}</th>
                                    <td mat-cell *matCellDef="let workerTask">{{ workerTask.Performer }}</td>
                                </ng-container>
                                <ng-container matColumnDef="create_datetime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CREATE_DATETIME" | translate }}</th>
                                    <td mat-cell *matCellDef="let workerTask">{{ workerTask.CreateDateTime | date:'medium'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="update_datetime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "UPDATE_DATETIME" | translate }}</th>
                                    <td mat-cell *matCellDef="let workerTask">{{ workerTask.UpdateDateTime | date:'medium'}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="workerTaskDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: workerTaskDisplayedColumns;"></tr>
                            </table>
                            <mat-paginator #caseWorkerPaginator [length]="workerTasksLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>