<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/bpmns/bpmninstances']">{{ "BPMN.TITLES.BPMNINSTANCES" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li>
                <div class="mat-h1">
                    {{ 'BPMN.TITLES.BPMNINSTANCE' | translate }}
                </div>
            </li>
        </ul>
    </div>
</div>
<mat-drawer-container class="bpmninstance">
    <mat-drawer mode="side" opened>
        <mat-list>
            <a href="#" [class.is-active]="execPath.id === currentExecPathId" (click)="navigate($event, execPath)" mat-list-item *ngFor="let execPath of executionPaths; let i = index">
                <small>{{ 'BPMN.INSTANCE.EXECUTIONPATH' | translate : { index : (executionPaths.length - i), receptionDate : (execPath.createDateTime | date:'medium') } }}</small>
            </a>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>