<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li>{{ 'BREADCRUMB.CASES' | translate }}</li>
    </ul>
    <mat-card class="m-10">
        <mat-card-content>
            <table mat-table class="full-width" matSortActive="createDateTime" matSortDirection="desc" [dataSource]="caseInstances$" matSort>
                <!-- Name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.NAME" | translate }}</th>
                    <td mat-cell *matCellDef="let caseInstance">
                        <a [routerLink]="['/cases/' + caseInstance.id]">
                            {{ caseInstance.name }}
                        </a>
                    </td>
                </ng-container>
                <!-- Status -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>{{  "SHARED.STATE" | translate }}</th>
                    <td mat-cell *matCellDef="let caseInstance">
                        <mat-chip-list *ngIf="caseInstance.state">
                            <mat-chip>
                                {{ 'CASES.STATES.' + caseInstance.state| translate }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <!-- Created datetime -->
                <ng-container matColumnDef="createDateTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.CREATED_DATETIME" | translate }}</th>
                    <td mat-cell *matCellDef="let caseInstance">{{caseInstance.createDateTime | date:'medium'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>