<mat-tab-group>
    <mat-tab label="{{ baseTranslationKey + '.TASK.TITLE' | translate }}">
        <view-humantaskdef-info-component></view-humantaskdef-info-component>
    </mat-tab>
    <mat-tab label="{{ baseTranslationKey + '.PRESENTATION.TITLE' | translate }}">

    </mat-tab>
    <mat-tab label="{{ baseTranslationKey + '.ASSIGNMENT.TITLE' | translate }}">

    </mat-tab>
    <mat-tab label="{{ baseTranslationKey + '.DEADLINES.TITLE' | translate }}">

    </mat-tab>
    <mat-tab label="{{ baseTranslationKey + '.RENDERING.TITLE' | translate }}">
        <view-humantaskdef-rendering-component></view-humantaskdef-rendering-component>
    </mat-tab>
</mat-tab-group>