<ng-container>
    <mat-toolbar class="header-toolbar">
        <a class="no-style" [routerLink]="['/home']">
            <img src={{url}} />
        </a>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="navigation-spacer"></span>
        <div *ngIf="isConnected">
            <button mat-button [matMenuTriggerFor]="welcomeMenu">
                {{ "WELCOME" | translate:{name:name} }}
            </button>
            <mat-menu #welcomeMenu="matMenu">
                <button mat-menu-item (click)="disconnect()">{{ "DISCONNECT" | translate }}</button>
            </mat-menu>
        </div>
        <div *ngIf="!isConnected">
            <button mat-raised-button color="primary" (click)="login()">{{ "AUTHENTICATE" | translate }}</button>
            <button mat-raised-button color="primary" (click)="chooseSession()">{{ "CHOOSE_SESSION" | translate }}</button>
        </div>
        <button mat-button [matMenuTriggerFor]="languages">{{ "LANGUAGES" | translate }}</button>
        <mat-menu #languages="matMenu">
            <button mat-menu-item (click)="chooseLanguage('fr')">{{ "FRENCH" | translate }}</button>
            <button mat-menu-item (click)="chooseLanguage('en')">{{ "ENGLISH" | translate }}</button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" #sidenav mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
            <mat-nav-list *ngIf="isConnected">
                <a mat-list-item (click)="toggleCases()">
                    <mat-icon>folder</mat-icon> {{ "CASES" | translate }}
                    <span fxFlex>
                        <span fxFlex></span>
                        <mat-icon [@indicatorRotate]="casesExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon>
                    </span>
                </a>
                <div *ngIf="casesExpanded">
                    <a mat-list-item *ngIf="roles === 'businessanalyst'" [routerLink]="['/cmmns/cmmnfiles']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "CMMN.TITLES.FILES" | translate }}</a>
                    <a mat-list-item [routerLink]="['/cmmns/cmmnplans']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "CMMN.TITLES.PLANS" | translate }}</a>
                    <a mat-list-item [routerLink]="['/cmmns/cmmninstances']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "CMMN.TITLES.PLANINSTANCES" | translate }}</a>
                </div>
                <a mat-list-item (click)="toggleBpmnFiles()">
                    <mat-icon>timeline</mat-icon> {{ "BPMNS" | translate }}
                    <span fxFlex>
                        <span fxFlex></span>
                        <mat-icon [@indicatorRotate]="bpmnsExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon>
                    </span>
                </a>
                <div *ngIf="bpmnsExpanded">
                    <a mat-list-item *ngIf="roles === 'businessanalyst'" [routerLink]="['/bpmns/bpmnfiles']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "BPMN_FILES" | translate }}</a>
                    <a mat-list-item [routerLink]="['/bpmns/bpmninstances']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "BPMN.TITLES.BPMNINSTANCES" | translate }}</a>
                </div>
                <a mat-list-item (click)="toggleHumanTasks()">
                    <mat-icon>format_align_justify</mat-icon> {{ "HUMAN_TASKS" | translate }}
                    <span fxFlex>
                        <span fxFlex></span>
                        <mat-icon [@indicatorRotate]="humanTasksExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon>
                    </span>
                </a>
                <div *ngIf="humanTasksExpanded">
                    <a mat-list-item *ngIf="roles === 'businessanalyst'" [routerLink]="['/humantasks/humantaskdefs']" [routerLinkActive]="['is-active']"><mat-icon></mat-icon>{{ "HUMAN_TASK_DEFS" | translate }}</a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>