html, body {
	height: 100%;
}

body {
    position: relative;
}

body, h1 {
	margin: 0;
}

/* Common library */
a.no-style {
	text-decoration: none;
	color: inherit;
}

.full-width {
	width: 100%;
}

.m-10 {
    margin: 10px !important;
}

.mleft-10 {
	margin-left : 10px !important;
}

.mright-10 {
	margin-right: 10px !important;
}

.mtop-10 {
    margin-top: 10px !important;
}

.clickable {
	cursor: pointer;	
}

.overflow-hidden {
    overflow: hidden;
}

.navigation-spacer {
    flex: 1 1 auto;
}

/* Breadcrumb */
@media (max-width: 960px) {
    .breadcrumb {
        display: none;
    }
}

ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 5px;
}

ul.breadcrumb li {
    display: inline-block;
}

ul.breadcrumb li:not(:first-child) {
    padding-left: .5rem;
}

ul.breadcrumb li:not(:last-child):after {
    content: "/";
    margin-left: 1rem;
}

/* Content */
.drawer {
    position: fixed;
    height: 100vh;
    min-width: 25%;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.app-content {
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 30px;
}

.app-footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
    height: 30px;
}

@media(min-width: 960px) {
    .content > div {
        overflow: auto;
    }

    .content {
        position: absolute;
        top: 30px;
        right: 10px;
        left: 10px;
        bottom: 0px;
    }
}

.circle {
    border-radius: 15px !important;
}

.diamond {
    width: 0 !important;
    height: 0 !important;
    border: 26px solid transparent;
    position: relative;
    top: -26px;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.diamond:after {
    content: '';
    position: absolute;
    top: 26px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    left: -26px;
}

a.is-active {
    font-weight: bold;
}

.error-overlay {
    opacity: 0.4;
    cursor: pointer !important;
    border-radius: 10px;
}

.complete-overlay {
    opacity: 0.4;
    cursor: pointer !important;
    border-radius: 10px;
}

.selected-overlay {
    border: 2px solid red;
    width: 98px;
    height: 78px;
    border-radius: 10px;
}

.selected-circle {
    border-radius: 30px !important;
    width: 34px !important;
    height: 34px !important;
}

.selected-diamond {
    position: relative;
    top: 6px;
    left: 6px;
    border-radius: 0px !important;
    width: 36px;
    height: 36px;
    transform: rotate(45deg);
}

.outgoing-tokens, .nbOccurrence {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.state {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 8pt;
}

.table-h400 {
    height: 400px;
    overflow: auto !important;
}