html, body {
	height: 100%;
}

body, h1 {
	margin: 0;
}

a.no-style {
	text-decoration: none;
	color: inherit;
}

.full-width {
	width: 100%;
}

.mleft-10 {
	margin-left : 10px;
}

.mright-10 {
	margin-right: 10px;
}

.clickable {
	cursor: pointer;	
}

ul.list {
    padding: 0;
    list-style-type: none;
}

ul.list li {
    .actions {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    p.period, p.description, h4, h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

ul.list li {
    margin-top: 5px;
    border-bottom: 1px solid;
    position: relative;
}

ul.list li:hover .actions {
    display: block;
}

.profile {
    .actions {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.profile .avatar-container img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb {
    padding: 20px 0px 20px 0px;
}

.breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb ul .separator {
    padding-right: .75rem;
    padding-left: .75rem;
}

.breadcrumb ul li {
    display: inline-block;
}

.avatar-container img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.circle {
    border-radius: 15px !important;
}

.diamond {
    width: 0 !important;
    height: 0 !important;
    border: 26px solid transparent;
    position: relative;
    top: -26px;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.diamond:after {
    content: '';
    position: absolute;
    top: 26px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    left: -26px;
}

a.is-active {
    font-weight: bold;
}

.error-overlay {
    opacity: 0.4;
    cursor: pointer !important;
    border-radius: 10px;
}

.complete-overlay {
    opacity: 0.4;
    cursor: pointer !important;
    border-radius: 10px;
}

.selected-overlay {
    border: 2px solid red;
    width: 98px;
    height: 78px;
    border-radius: 10px;
}

.selected-circle {
    border-radius: 30px !important;
    width: 34px !important;
    height: 34px !important;
}

.selected-diamond {
    position: relative;
    top: 6px;
    left: 6px;
    border-radius: 0px !important;
    width: 36px;
    height: 36px;
    transform: rotate(45deg);
}

.outgoing-tokens, .nbOccurrence {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.state {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 8pt;
}

.table-h400 {
    height: 400px;
    overflow: auto !important;
}