@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);

    ul.list p.period {
        color: mat-color($primary);
    }

    ul.list li {
        border-bottom-color: mat-color($foreground, divider) !important;
    }

    .error {
        color: mat-color($warn);
    }

    .breadcrumb {
        background-color: mat-color($primary, 300);
        color: white;
    }

    .started:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgba(66, 180, 21, 0.7) !important;
    }

    .finished:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgb(255, 116, 0) !important;
    }

    .nb-instances {
        background-color: rgb(149, 117, 205);
        border: 1px solid black;
    }

    .is-active {
        background-color: rgb(245, 245, 245) !important;
    }

    .steps li a, .steps li p {
        background: #9575cd;
        color: white;
    }

    .steps li a:after, .steps li p:after {
        border-left: 12px solid #9575cd;
    }

    .steps li.undone a, .steps li.undone p {
        background: #eee;
        color: #333;
    }

    .steps li a:before, .steps li p:before {
        border-left: 12px solid #fff;
    }

    .steps li.undone a:after, .steps li.undone p:after {
        border-left: 12px solid #eee;
    }

    .steps li.undone p {
        color: #aaa;
    }

    .mat-tab-label-active {
        opacity: 1;
    }

    .error-overlay {
        background-color: red;
    }

    .complete-overlay {
        background-color: green;
    }

    .diamond.complete-overlay {
        border-bottom-color: green;
    }

    .complete-overlay.diamond:after {
        border-top-color: green;
    }

    .outgoing-tokens, .nbOccurrence {
        background-color: gray;
    }

    .selected-diamond {
        border: 2px solid red;
    }

    .state.Active {
        background-color: orange;
    }

    .state.Completed {
        background-color: green;
    }

    .state.Failed {
        background-color: red;
    }
}

@mixin component-themes($theme) {
    @include app-theme($theme);
}