@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);

    ul.list p.period {
        color: mat-color($primary);
    }

    ul.list li {
        border-bottom-color: mat-color($foreground, divider) !important;
    }

    .error {
        color: mat-color($warn);
    }

    .breadcrumb {
        background-color: mat-color($primary, 300);
        color: white;
    }

    .started:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgba(66, 180, 21, 0.7) !important;
    }

    .finished:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgb(255, 116, 0) !important;
    }

    .nb-instances {
        background-color: rgb(149, 117, 205);
        border: 1px solid black;
    }
}

@mixin component-themes($theme) {
    @include app-theme($theme);
}