[Unit]
Description=Case management identity (OPENID)
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /src/CaseManagement/src/CaseManagement.Identity/bin/Debug/netcoreapp2.2/CaseManagement.Identity.dll --pathBase=/casemanagementidentity --server.urls="http://*:60000"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/src/CaseManagement/src/CaseManagement.Identity

[Install]
WantedBy=multi-user.target