[Unit]
Description=Case management gateway
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /src/CaseManagement/src/CaseManagement.Gateway.Website.Host/bin/Debug/netcoreapp3.1/CaseManagement.Gateway.Website.Host.dll --pathBase=/casemanagementapi --server.urls="http://*:56696"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/src/CaseManagement/src/CaseManagement.Gateway.Website.Host

[Install]
WantedBy=multi-user.target