[Unit]
Description=Case Management performance
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/CaseManagementPerformance/CaseManagement.Performance.dll --pathBase=/casemanagementperformance --server.urls="http://*:5003"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/CaseManagementPerformance

[Install]
WantedBy=multi-user.target