[Unit]
Description=Case management website
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/ftpuser/src/build/results/services/CaseManagementWebsite/CaseManagement.Website.dll --pathBase=/casemanagement --server.urls="http://*:5002"
KillMode=process
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/home/ftpuser/src/build/results/services/CaseManagementWebsite

[Install]
WantedBy=multi-user.target