<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/cases/casefiles']">{{ "CASE_FILES" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li>
                <div class="mat-h1">
                    {{ 'CASE_FILE' | translate }} ({{caseFile.Status}})
                </div>
            </li>
        </ul>
    </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" fxFlexFill>
    <div fxFlex="20%" class="form-case-file">
        <div>
            <button mat-raised-button color="primary" [routerLink]="['/cases/casefiles/' + caseFile.FileId + '/history']">
                <mat-icon>history</mat-icon> {{ 'VIEW_CASE_FILE_HISTORY' | translate}}
            </button>
        </div>
        <div class="mt-10" *ngIf="caseFile.Status === 'published'">
            <button mat-raised-button color="primary" [routerLink]="['/cases/caseplans']" [queryParams]="{ caseFileId: caseFile.Id }">
                <mat-icon>file_copy</mat-icon> {{ 'VIEW_CASE_PLANS' | translate}}
            </button>
        </div>
        <form [formGroup]="saveForm" (ngSubmit)="onSave(saveForm.value)" class="mt-10">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'ID' | translate }}" name="id" formControlName="id" />
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'CREATE_DATETIME' | translate }}" name="createDateTime" formControlName="createDateTime" readonly />
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'UPDATE_DATETIME' | translate }}" name="updateDateTime" formControlName="updateDateTime" readonly />
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'ENTER_CASE_FILE_NAME' | translate }}" name="name" formControlName="name" />
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="{{ 'ENTER_CASE_FILE_DESCRIPTION' | translate }}" name="description" formControlName="description"></textarea>
            </mat-form-field>
            <div *ngIf="caseFile.Status === 'edited'">
                <button mat-raised-button color="primary">{{ 'SAVE' | translate }}</button>
                <button mat-raised-button color="primary" class="ml-10" (click)="onPublish($event)">{{ 'PUBLISH' | translate }}</button>
            </div>
        </form>
    </div>
    <div fxFlex="60%">
        <div class="cpp-properties-tab-bar">
            <ul class="cpp-properties-tabs-links">
                <li class="cpp-properties-tab-link cpp-active" [class.cpp-active]="isEditorDisplayed" (click)="navigate(true)">
                    <a href data-tab-target>{{ 'EDITOR' | translate }}</a>
                </li>
                <li class="cpp-properties-tab-link" [class.cpp-active]="!isEditorDisplayed" (click)="navigate(false)">
                    <a href data-tab-target>{{ 'XML' | translate }}</a>
                </li>
            </ul>
        </div>
        <div id="canvas" [style.display]="isEditorDisplayed ? 'block' : 'none'" fxFlexFill></div>
        <ngx-monaco-editor [style.display]="isEditorDisplayed ? 'none' : 'block'" class="txt-editor" [options]="editorOptions" [(ngModel)]="xml" (ngModelChange)="onXmlChange($event)"></ngx-monaco-editor>
    </div>
    <div id="properties" fxFlex="20%"></div>
</div>