<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'HUMANTASK.PARAMETERS' | translate }}</mat-card-title>
        <div class="actions">
            <button mat-icon-button (click)="addToPart($event)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <table mat-table class="full-width" [dataSource]="toParts$">
            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'SHARED.NAME' | translate }}</th>
                <td mat-cell *matCellDef="let toPart">
                    {{ toPart.name }}
                </td>
            </ng-container>
            <!-- Expression -->
            <ng-container matColumnDef="expression">
                <th mat-header-cell *matHeaderCellDef>{{ 'SHARED.EXPRESSION' | translate }}</th>
                <td mat-cell *matCellDef="let toPart">{{ toPart.expression }}</td>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let toPart">
                    <button *ngIf="toPart.name" mat-icon-button (click)="deleteToPart(toPart)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="toPartDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: toPartDisplayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>