<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "BPMN.TITLES.BPMNFILES" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div fxLayout="column" fxLayoutGap="10px">
            <mat-card>
                <mat-card-content>
                    <div class="mat-elevation-z8 overflow-hidden">
                        <table mat-table class="full-width" [dataSource]="bpmnFiles$" matSortActive="create_datetime" matSortDirection="desc" matSort>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INFORMATION.FILE_NAME" | translate }}</th>
                                <td mat-cell *matCellDef="let bpmn">
                                    <a [routerLink]="['/bpmns/bpmnfiles/' + bpmn.id]" target="_blank">
                                        {{ bpmn.name }}
                                    </a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="version">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INFORMATION.VERSION" | translate }}</th>
                                <td mat-cell *matCellDef="let bpmn">{{ bpmn.version }}</td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>{{ "BPMN.INFORMATION.STATUS" | translate }}</th>
                                <td mat-cell *matCellDef="let bpmn">
                                    <mat-chip-list>
                                        <mat-chip>{{ bpmn.status }}</mat-chip>
                                    </mat-chip-list>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="create_datetime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INFORMATION.CREATE_DATETIME" | translate }}</th>
                                <td mat-cell *matCellDef="let bpmn">{{bpmn.createDateTime | date:'medium'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="update_datetime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "BPMN.INFORMATION.UPDATE_DATETIME" | translate }}</th>
                                <td mat-cell *matCellDef="let bpmn">{{bpmn.updateDateTime | date:'medium'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let bpmn">
                                    <a [routerLink]="['/bpmns/bpmnfiles/' + bpmn.fileId + '/history']" target="_blank">
                                        {{ 'BPMN.ACTIONS.VIEW_BPMNFILE_HISTORY' | translate }}
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>