<h1 mat-dialog-title>{{ baseTranslationKey + ".EDIT_ESCALATION" | translate }}</h1>
<div mat-dialog-content>
    <mat-tab-group>
        <!-- Escalation info -->
        <mat-tab label="{{ baseTranslationKey + '.ESCALATION_INFO' | translate }}">
            <form [formGroup]="updateEscalationForm">
                <mat-form-field class="full-width">
                    <mat-label>{{ baseTranslationKey + '.ESCALATION_CONDITION' | translate}}</mat-label>
                    <input matInput formControlName="condition" type="text" required />
                    <mat-error *ngIf="updateEscalationForm.get('condition').hasError('required')">
                        {{ 'SHARED.IS_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-tab>
        <!-- Escalation parameters -->
        <mat-tab label="{{ baseTranslationKey + '.ESCALATION_PARAMETERS' | translate }}">
            <form [formGroup]="addToPartForm" (ngSubmit)="addToPart(addToPartForm.value)">
                <mat-form-field class="full-width">
                    <mat-label>{{ baseTranslationKey + '.TO_PART_NAME' | translate }}</mat-label>
                    <input matInput formControlName="name" type="text" required />
                    <mat-error *ngIf="addToPartForm.get('name').hasError('required')">
                        {{ 'SHARED.IS_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>{{ baseTranslationKey + '.TO_PART_EXPRESSION' | translate  }}</mat-label>
                    <input matInput formControlName="expression" type="text" required />
                    <mat-error *ngIf="addToPartForm.get('expression').hasError('required')">
                        {{ 'SHARED.IS_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">{{ 'SHARED.ADD' | translate}}</button>
            </form>
            <mat-list>
                <mat-list-item *ngFor="let toPart of data.toParts">
                    <button (click)="deleteToPart(toPart)" mat-icon-button><mat-icon>delete</mat-icon></button>
                    {{ toPart.name + "( "+ toPart.expression +" )" }}
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <!-- Notification -->
        <mat-tab label="{{ baseTranslationKey + '.NOTIFICATION' | translate }}">
            <div class="mleft-10 mright-10">
                <form [formGroup]="updateNotificationForm">
                    <mat-form-field class="full-width">
                        <mat-label>{{ baseTranslationKey + '.NOTIFICATION_NAME' | translate }}</mat-label>
                        <input matInput formControlName="name" type="text" required />
                        <mat-error *ngIf="updateNotificationForm.get('name').hasError('required')">
                            {{ 'SHARED.IS_REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>{{ baseTranslationKey + '.NOTIFICATION_PRIORITY' | translate }}</mat-label>
                        <input matInput formControlName="priority" type="text" />
                    </mat-form-field>
                </form>
                <mat-accordion>
                    <!-- Operation -->
                    <mat-expansion-panel [expanded]="true" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{  baseTranslationKey + ".NOTIFICATION_OPERATION" | translate }}
                            </mat-panel-title>
                            <mat-icon matTooltip="{{ baseTranslationKey + '.NOTIFICATION_OPERATION_INFO' | translate }}">info</mat-icon>
                        </mat-expansion-panel-header>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <h3>{{ baseTranslationKey + ".INPUT_PARAMETERS" | translate }}</h3>
                                <operationparameter-component [parameters]="data.notification.operation.inputParameters"
                                                              (parameterAdded)="addInputParameter($event)"
                                                              (parameterRemoved)="deleteInputParameter($event)"></operationparameter-component>
                            </div>
                            <div fxFlex="50%">
                                <h3>{{ baseTranslationKey + ".OUTPUT_PARAMETERS" | translate }}</h3>
                                <operationparameter-component [parameters]="data.notification.operation.outputParameters"
                                                              (parameterAdded)="addOutputParameter($event)"
                                                              (parameterRemoved)="deleteOutputParameter($event)">></operationparameter-component>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- People assignment -->
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ baseTranslationKey + ".NOTIFICATION_ASSIGNMENT" | translate }}
                            </mat-panel-title>
                            <mat-icon matTooltip="{{ baseTranslationKey + '.NOTIFICATION_ASSIGNMENT_INFO' | translate }}">info</mat-icon>
                        </mat-expansion-panel-header>
                        <mat-accordion>
                            <!-- Business administrator -->
                            <mat-expansion-panel [expanded]="true" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ baseTranslationKey + '.BUSINESS_ADMINISTRATOR' | translate }}
                                    </mat-panel-title>
                                    <mat-icon matTooltip="{{ baseTranslationKey + '.BUSINESS_ADMINISTRATOR_INFO' | translate }}">info</mat-icon>
                                </mat-expansion-panel-header>
                                <peopleassignment-component [peopleAssignment]="data.notification.peopleAssignment.businessAdministrator"
                                                            (updated)="updateBusinessAdministrator($event)"></peopleassignment-component>
                            </mat-expansion-panel>
                            <!-- Recipient -->
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ baseTranslationKey + '.RECIPIENT' | translate }}
                                    </mat-panel-title>
                                    <mat-icon matTooltip="{{ baseTranslationKey + '.RECIPIENT_INFO' | translate }}">info</mat-icon>
                                </mat-expansion-panel-header>
                                <peopleassignment-component [peopleAssignment]="data.notification.peopleAssignment.recipient"
                                                            (updated)="updateRecipient($event)"></peopleassignment-component>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-expansion-panel>
                    <!-- Presentation elements -->
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ baseTranslationKey + ".NOTIFICATION_PRESENTATION_ELEMENT" | translate }}
                            </mat-panel-title>
                            <mat-icon matTooltip="{{ baseTranslationKey + '.NOTIFICATION_PRESENTATION_ELEMENT_INFO' | translate }}">info</mat-icon>
                        </mat-expansion-panel-header>
                        <presentationparameter-component [names]="data.notification.presentationElement.names"
                                                         [subjects]="data.notification.presentationElement.subjects"
                                                         [descriptions]="data.notification.presentationElement.descriptions"
                                                         [presentationParameters]="data.notification.presentationElement.presentationParameters"></presentationparameter-component>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="primary" (click)="updateEscalation()">{{ 'SHARED.UPDATE' | translate }}</button>
</div>