<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/caseinstances']">{{ "CASE_INSTANCES" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li><div class="mat-h1">{{ caseInstance.Id }}</div></li>
        </ul>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="20%">
        <mat-list>
            <mat-list-item>
                <h4 mat-line>{{ "ID" | translate}}</h4>
                <p mat-line>{{ caseInstance.Id }}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "CREATE_DATETIME" | translate}}</h4>
                <p mat-line>{{ caseInstance.CreateDateTime | date:'medium' }}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "STATE" | translate}}</h4>
                <p mat-line>
                    <mat-chip-list>
                        <mat-chip>{{ caseInstance.State }}</mat-chip>
                    </mat-chip-list>
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>{{ "CASE_DEFINITION_IDENTIFIER" | translate}}</h4>
                <p mat-line><a [routerLink]="['/casedefinitions/' + caseInstance.DefinitionId]">{{ caseInstance.DefinitionId }}</a></p>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="80%">
        <div fxLayout="column">
            <div>
                <div class="modeler">
                    <div id="canvas" style="height: 300px;"></div>
                </div>
            </div>
            <div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>{{ "STATE_HISTORIES" | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="mat-elevation-z8 overflow-hidden">
                                <table mat-table class="full-width" [dataSource]="caseInstance.StateHistories" matSort #caseInstanceStateHistoriesSort="matSort">
                                    <ng-container matColumnDef="state">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATE" | translate }}</th>
                                        <td mat-cell *matCellDef="let stateHistory">
                                            <mat-chip-list>
                                                <mat-chip>{{ stateHistory.State }}</mat-chip>
                                            </mat-chip-list>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="datetime">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "DATETIME" | translate }}</th>
                                        <td mat-cell *matCellDef="let stateHistory">{{ (stateHistory.DateTime) ? (stateHistory.DateTime | date:'medium') : '-' }}</td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayStateHistoriesColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayStateHistoriesColumns;"></tr>
                                </table>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>{{ "TRANSITION_HISTORIES" | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="mat-elevation-z8 overflow-hidden">
                                <table mat-table class="full-width" [dataSource]="caseInstance.TransitionHistories" matSort #caseInstanceTransitionHistoriesSort="matSort">
                                    <ng-container matColumnDef="transition">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "TRANSITION" | translate }}</th>
                                        <td mat-cell *matCellDef="let transitionHistory">
                                            <mat-chip-list>
                                                <mat-chip>{{ transitionHistory.Transition }}</mat-chip>
                                            </mat-chip-list>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="datetime">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "DATETIME" | translate }}</th>
                                        <td mat-cell *matCellDef="let transitionHistory">{{ (transitionHistory.DateTime) ? (transitionHistory.DateTime | date:'medium') : '-' }}</td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayTransitionHistoriesColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayTransitionHistoriesColumns;"></tr>
                                </table>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>