<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li><a href="#" [routerLink]="['/tasks']">{{ 'BREADCRUMB.TASKS' | translate }}</a></li>
        <li>{{ task.presentationName }}</li>
    </ul>
    <mat-card class="m-10">
        <mat-card-content>
            <!-- Name -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ "SHARED.NAME" | translate }}</mat-label>
                <input matInput type="text" [(ngModel)]="task.presentationName" disabled />
            </mat-form-field>
            <!-- Subject -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ "SHARED.SUBJECT" | translate }}</mat-label>
                <input matInput type="text" [(ngModel)]="task.presentationSubject" disabled />
            </mat-form-field>
            <!-- Priority -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ "SHARED.PRIORITY" | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="task.priority" disabled />
            </mat-form-field>
            <div *ngIf="task.status != 'COMPLETE'">
                <form (ngSubmit)="onSubmit()">
                    <dynamic-component [option]="option"></dynamic-component>
                    <button mat-raised-button color="primary">{{ 'SHARED.SUBMIT' | translate }}</button>
                </form>
            </div>
        </mat-card-content>
        <mat-tab-group>
            <mat-tab label="{{ 'TASKS.HISTORY' | translate }}">
                <table class="full-width" mat-table [dataSource]="histories$" matSortActive="eventTime" matSortDirection="desc" matSort>
                    <!-- Event time -->
                    <ng-container matColumnDef="eventTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.RECEIVED_DATETIME" | translate }}</th>
                        <td mat-cell *matCellDef="let history">{{ history.eventTime | date:'medium' }}</td>
                    </ng-container>
                    <!-- User principal -->
                    <ng-container matColumnDef="userPrincipal">
                        <th mat-header-cell *matHeaderCellDef>{{ "SHARED.USER" | translate }}</th>
                        <td mat-cell *matCellDef="let history">{{ history.userPrincipal }}</td>
                    </ng-container>
                    <!-- Event type -->
                    <ng-container matColumnDef="eventType">
                        <th mat-header-cell *matHeaderCellDef>{{ "SHARED.TYPE" | translate }}</th>
                        <td mat-cell *matCellDef="let history">{{ history.eventType }}</td>
                    </ng-container>
                    <!-- Start owner -->
                    <ng-container matColumnDef="startOwner">
                        <th mat-header-cell *matHeaderCellDef>{{ "TASKS.START_OWNER" | translate }}</th>
                        <td mat-cell *matCellDef="let history">{{ history.startOwner }}</td>
                    </ng-container>
                    <!-- Start owner -->
                    <ng-container matColumnDef="endOwner">
                        <th mat-header-cell *matHeaderCellDef>{{ "TASKS.END_OWNER" | translate }}</th>
                        <td mat-cell *matCellDef="let history">{{ history.endOwner }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>