<form [formGroup]="peopleAssignmentForm" (ngSubmit)="addPeopleAssignment(peopleAssignmentForm.value)">
    <!-- Select type of assignment -->
    <mat-form-field class="full-width">
        <mat-label>{{ 'SHARED.SELECT_ASSIGNMENT_TYPE' | translate }}</mat-label>
        <mat-select formControlName="type">
            <mat-option value="logicalpeoplegroup">{{ 'SHARED.LOGICALGROUP' | translate }}</mat-option>
            <mat-option value="groupnames">{{ 'SHARED.GROUPNAMES' | translate }}</mat-option>
            <mat-option value="useridentifiers">{{ 'SHARED.USERIDENTIFIERS' | translate }}</mat-option>
            <mat-option value="expression">{{ 'SHARED.EXPRESSION' | translate }}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Add one or more values -->
    <mat-form-field class="full-width">
        <mat-label>{{ 'SHARED.VALUE' | translate }}</mat-label>
        <input matInput type="text" formControlName="value" />
    </mat-form-field>
    <button mat-raised-button color="primary">{{ 'SHARED.ADD' | translate }}</button>
</form>
<mat-list>
    <mat-list-item *ngFor="let val of values">
        <button (click)="deleteValue(val)" mat-icon-button><mat-icon>delete</mat-icon></button>
        {{ val }}
    </mat-list-item>
</mat-list>