<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ baseTranslationKey + ".TITLE" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="10px">
                <div fxFlex="70%">
                </div>
                <div fxFlex="30%">
                    <mat-card>
                        <mat-card-content>
                            <div fxLayout="column" fxLayoutGap="10px">
                                <button mat-raised-button color="primary" (click)="addHumanTask()">{{ baseTranslationKey + '.ADD_HUMANTASKDEF' | translate }}</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <mat-card>
                <mat-card-content>
                    <table mat-table class="full-width" [dataSource]="humanTaskDefs$" matSort>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>{{ "SHARED.NAME" | translate }}</th>
                            <td mat-cell *matCellDef="let humanTaskDef">{{humanTaskDef.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef>{{ "SHARED.PRIORITY" | translate }}</th>
                            <td mat-cell *matCellDef="let humanTaskDef">{{humanTaskDef.priority}}</td>
                        </ng-container>
                        <ng-container matColumnDef="create_datetime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.CREATE_DATETIME" | translate }}</th>
                            <td mat-cell *matCellDef="let humanTaskDef">{{humanTaskDef.createDateTime | date:'medium'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="update_datetime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.UPDATE_DATETIME" | translate }}</th>
                            <td mat-cell *matCellDef="let humanTaskDef">{{humanTaskDef.updateDateTime | date:'medium'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let humanTaskDef">
                                <button mat-icon-button [routerLink]="['/humantasks/humantaskdefs/' + humanTaskDef.id]">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>