<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li>{{ 'BREADCRUMB.NOTIFICATIONS' | translate }}</li>
    </ul>
    <mat-card class="m-10">
        <mat-card-content>
            <table mat-table class="full-width" matSortActive="createdTime" matSortDirection="desc" [dataSource]="notifications$" matSort>
                <!-- Priority -->
                <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.PRIORITY" | translate }}</th>
                    <td mat-cell *matCellDef="let notification">{{notification.priority}}</td>
                </ng-container>
                <!-- Name -->
                <ng-container matColumnDef="presentationName">
                    <th mat-header-cell *matHeaderCellDef>{{ "SHARED.NAME" | translate }}</th>
                    <td mat-cell *matCellDef="let notification">{{notification.presentationName}}</td>
                </ng-container>
                <!-- Presentation subject -->
                <ng-container matColumnDef="presentationSubject">
                    <th mat-header-cell *matHeaderCellDef>{{ "SHARED.SUBJECT" | translate }}</th>
                    <td mat-cell *matCellDef="let notification">{{notification.presentationSubject}}</td>
                </ng-container>
                <!-- Status -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>{{  "SHARED.STATUS" | translate }}</th>
                    <td mat-cell *matCellDef="let notification">
                        <mat-chip-list *ngIf="notification.status">
                            <mat-chip>
                                {{ 'NOTIFICATIONS.STATUS.' + notification.status | translate }}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <!-- Created datetime -->
                <ng-container matColumnDef="createdTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "SHARED.CREATED_DATETIME" | translate }}</th>
                    <td mat-cell *matCellDef="let notification">{{notification.createdTime | date:'medium'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>