<!-- Human task name -->
<mat-form-field class="full-width">
    <mat-label>{{ 'SHARED.NAME' | translate}}</mat-label>
    <input [(ngModel)]="createHumanTaskInstance.humanTaskName" type="text" matInput disabled />
</mat-form-field>
<!-- Priority -->
<mat-form-field class="full-width">
    <mat-label>{{ 'SHARED.PRIORITY' | translate}}</mat-label>
    <input [(ngModel)]="createHumanTaskInstance.priority" type="number" matInput />
</mat-form-field>
<!-- Operation parameter -->
<h5>{{ 'SHARED.INPUT_PARAMETERS' | translate }}</h5>
<mat-form-field class="full-width" *ngFor="let param of humanTaskDef.inputOperationParameters">
    <mat-label>{{ param.name }}</mat-label>
    <input [(ngModel)]="createHumanTaskInstance.operationParameters[param.name]" matInput />
</mat-form-field>