<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li>{{ 'BREADCRUMB.CASES' | translate }}</li>
    </ul>
    <mat-card fxFlex class="m-10">
        <mat-card-header>
            <mat-card-title>
                {{ 'CMMN.FILES' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <list-cmmn-files></list-cmmn-files>
        </mat-card-content>
    </mat-card>
</div>