<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li><a href="#" [routerLink]="['/humantasks']">{{ 'BREADCRUMB.HUMANTASKS' | translate }}</a></li>
        <li>{{ humanTaskDef.name }}</li>
    </ul>
    <div class="m-10">
        <div class="mtop-10" *ngIf="!isErrorOccured">
            <nav mat-tab-nav-bar>
                <a mat-tab-link
                   [routerLink]="['/humantasks/'+id+'/task']"
                   routerLinkActive
                   #rla1="routerLinkActive"
                   [active]="rla1.isActive">
                    {{ 'HUMANTASK.TASK' | translate }}
                </a>
                <a mat-tab-link
                   [routerLink]="['/humantasks/'+id+'/rendering']"
                   routerLinkActive
                   #rla5="routerLinkActive"
                   [active]="rla5.isActive">
                    {{ 'HUMANTASK.RENDERING' | translate }}
                </a>
            </nav>
            <div class="mleft-10 mright-10 mtop-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>