<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "PERFORMANCES" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="90%" fxFlexOffset="5%">        
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="50%">
                <h3>{{ "NB_THREADS" | translate }}</h3>
                <ngx-charts-line-chart [view]="viewChart"
                                       [showXAxisLabel]="true"
                                       [showYAxisLabel]="true"
                                       [animations]="true"
                                       [xAxis]="true"
                                       [yAxis]="true"
                                       [xAxisLabel]="Date"
                                       [yAxisLabel]="Metrics"
                                       [timeline]="true"
                                       [legend]="false"
                                       [results]="threadsPerformance">

                </ngx-charts-line-chart>
            </div>
            <div fxFlex="50%">
                <h3>{{ "MEMORY_CONSUMED_MB" | translate }}</h3>
                <ngx-charts-line-chart [view]="viewChart"
                                       [showXAxisLabel]="true"
                                       [showYAxisLabel]="true"
                                       [animations]="true"
                                       [xAxis]="true"
                                       [yAxis]="true"
                                       [xAxisLabel]="Date"
                                       [yAxisLabel]="Metrics"
                                       [timeline]="true"
                                       [legend]="false"
                                       [results]="memoryConsumedMBPerformance">

                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>  