<div fxLayout="column" fxFlexFill>
    <ul class="breadcrumb">
        <li><a href="#" [routerLink]="['/']">{{ 'BREADCRUMB.DASHBOARD' | translate }}</a></li>
        <li>{{ 'BREADCRUMB.HUMANTASKS' | translate }}</li>
    </ul>
    <mat-card fxFlex class="m-10">
        <mat-card-header>
            <mat-card-title>
                {{ 'HUMANTASK.FILES' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <list-humantask-files></list-humantask-files>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex class="m-10">
        <mat-card-header>
            <mat-card-title>
                {{ 'HUMANTASK.INSTANCES' | translate }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>