<mat-toolbar>
    <a class="no-style" [routerLink]="['/home']">{{ "WEBSITE_TITLE" | translate }}</a>
    <span class="navigation-spacer"></span>
    <button mat-button [routerLink]="['/casedefinitions']">{{ "CASE_DEFINITIONS" | translate }}</button>
    <button mat-button [matMenuTriggerFor]="languages">{{ "LANGUAGES" | translate }}</button>
    <mat-menu #languages="matMenu">
        <button mat-menu-item (click)="chooseLanguage('fr')">{{ "FRENCH" | translate }}</button>
        <button mat-menu-item (click)="chooseLanguage('en')">{{ "ENGLISH" | translate }}</button>
    </mat-menu>
</mat-toolbar>