<mat-toolbar class="header-toolbar">
    <a class="no-style" [routerLink]="['/home']">
        <img src={{url}} />
    </a>
    <span class="navigation-spacer"></span>
    <div *ngIf="isConnected">
        <button mat-button *ngIf="roles.includes('businessanalyst')" [matMenuTriggerFor]="caseMenu">{{ "CASES" | translate }}</button>
        <mat-menu #caseMenu="matMenu">
            <button mat-menu-item [routerLink]="['/cases/casefiles']">{{ "CASE_FILES" | translate }}</button>
            <button mat-menu-item [routerLink]="['/cases/caseplans']">{{ "CASE_PLANS" | translate }}</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="welcomeMenu">
            {{ "WELCOME" | translate:{name:name} }}
        </button>
        <mat-menu #welcomeMenu="matMenu">
            <button mat-menu-item (click)="disconnect()">{{ "DISCONNECT" | translate }}</button>
        </mat-menu>
    </div>
    <div *ngIf="!isConnected">
        <button mat-raised-button color="primary" (click)="login()">{{ "AUTHENTICATE" | translate }}</button>
    </div>
    <button mat-button [matMenuTriggerFor]="languages">{{ "LANGUAGES" | translate }}</button>
    <mat-menu #languages="matMenu">
        <button mat-menu-item (click)="chooseLanguage('fr')">{{ "FRENCH" | translate }}</button>
        <button mat-menu-item (click)="chooseLanguage('en')">{{ "ENGLISH" | translate }}</button>
    </mat-menu>
</mat-toolbar>