<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <ul>
            <li><div class="mat-h1"><a [routerLink]="['/casedefinitions']">{{ "CASE_INSTANCES" | translate }}</a></div></li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li><div class="mat-h1">{{ "CASE_INSTANCE" | translate }}</div></li>
        </ul>
    </div>
</div>
<div fxLayout="row">
    <div fxFlexOffset="10%" fxFlex="80%">
        <div fxLayout="column" fxLayoutGap="5px">
            <mat-card>
            </mat-card>
        </div>
    </div>
</div>