<mat-drawer-container fxFlexFill>
    <mat-drawer #drawer class="drawer" mode="side">
        <mat-list>
            <mat-list-item>TaskList <button (click)="drawer.close()" mat-icon-button><mat-icon>close</mat-icon></button></mat-list-item>
            <a *ngIf="isConnected" [routerLink]="['/tasks']" mat-list-item href="#">{{ "MENU.TASKS" | translate }}</a>
            <a *ngIf="isConnected" [routerLink]="['/notifications']" mat-list-item href="#">{{ "MENU.NOTIFICATIONS" | translate }}</a>
            <a href="#" *ngIf="!isConnected" (click)="login($event)" mat-button>{{ "MENU.AUTHENTICATE" | translate }}</a>
            <a href="#" *ngIf="!isConnected" (click)="chooseSession($event)" mat-button>{{ "MENU.CHOOSE_SESSION" | translate }}</a>
        </mat-list>
    </mat-drawer>
    <mat-toolbar class="app-header">
        <button mat-icon-button (click)="drawer.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <a class="no-style" [routerLink]="['/home']">
            <b style="color: rgb(123,31,162);">Task</b><span style="color: rgb(206,147,216);">List</span>
        </a>
        <div fxShow="true" fxHide.lt-md="true">
            <a *ngIf="isConnected" [routerLink]="['/tasks']" mat-button href="#">{{ "MENU.TASKS" | translate }}</a>
            <a *ngIf="isConnected" [routerLink]="['/notifications']" mat-button href="#">{{ "MENU.NOTIFICATIONS" | translate }}</a>
        </div>
        <span class="navigation-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a href="#" *ngIf="isConnected" mat-button [matMenuTriggerFor]="welcomeMenu" [innerHtml]="'MENU.WELCOME' | translate:{name:name}"></a>
            <mat-menu #welcomeMenu="matMenu">
                <a href="#" mat-menu-item (click)="disconnect($event)">{{ "MENU.DISCONNECT" | translate }}</a>
            </mat-menu>
            <a href="#" *ngIf="!isConnected" (click)="login($event)" mat-button>{{ "MENU.AUTHENTICATE" | translate }}</a>
            <a href="#" *ngIf="!isConnected" (click)="chooseSession($event)" mat-button>{{ "MENU.CHOOSE_SESSION" | translate }}</a>
            <a mat-button [matMenuTriggerFor]="languages">{{ "MENU.LANGUAGES" | translate }}</a>
            <mat-menu #languages="matMenu">
                <a href="#" mat-menu-item (click)="chooseLanguage($event, 'fr')">{{ "LANGUAGES.FRENCH" | translate }}</a>
                <a href="#" mat-menu-item (click)="chooseLanguage($event, 'en')">{{ "LANGUAGES.ENGLISH" | translate }}</a>
            </mat-menu>
        </div>
    </mat-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <div class="app-footer">
        @Copyright SimpleIdServer
    </div>
</mat-drawer-container>