.sidenav-container {
    position: absolute !important;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


.sidenav {
    display: flex;
    width: 250px;
}

.navigation-spacer {
    flex: 1 1 auto;
}
