<h1 mat-dialog-title>{{ "HUMANTASK.ADDASSIGNMENT" | translate }}</h1>
<div mat-dialog-content>
    <form [formGroup]="addAssignmentForm" (ngSubmit)="addPeopleAssignment(addAssignmentForm.value)">
        <!-- Usage -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>{{ 'HUMANTASK.SELECT_USERROLE' | translate }}</mat-label>
            <mat-select formControlName="usage" required>
                <mat-option *ngFor="let usage of usages" [value]="usage">{{  ('HUMANTASK.ROLES.' + usage) | translate }}</mat-option>
            </mat-select>
            <mat-error *ngIf="addAssignmentForm.get('usage').hasError('required')">
                {{ 'SHARED.IS_REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
        <!-- Assignment type -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>{{ 'HUMANTASK.SELECT_ASSIGNMENT_TYPE' | translate }}</mat-label>
            <mat-select formControlName="type" required>
                <mat-option *ngFor="let type of assignmentTypes" [value]="type">{{ ( 'HUMANTASK.' + type ) | translate }}</mat-option>
            </mat-select>
            <mat-error *ngIf="addAssignmentForm.get('type').hasError('required')">
                {{ 'SHARED.IS_REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
        <!-- Value -->
        <mat-form-field class="full-width" appearance="outline" floatLabel="always">
            <mat-label>{{ 'SHARED.VALUE' | translate }}</mat-label>
            <input matInput type="text" formControlName="value" required />
            <mat-error *ngIf="addAssignmentForm.get('value').hasError('required')">
                {{ 'SHARED.IS_REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">{{ 'SHARED.ADD' | translate }}</button>
    </form>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'SHARED.CANCEL' | translate }}</button>
</mat-dialog-actions>